<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gentelella Alela! | </title>

    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">

    <link href="../build/css/custom.min.css" rel="stylesheet">
    <style type="text/css">
        :root img[width="500"][height="500"]
        { display: none !important; }</style></head>
<body class="login">
<div>
    {% block fos_user_content %}
    {% endblock %}
</div>


</body></html>